.post-details {
  position: relative;
  z-index: 1;
  & .post-details-title-area {
    position: relative;
    z-index: 1;
    & .blog-thumbnail {
      max-height: 314px;
      &.bg-overlay {
        background-color: rgba(0, 0, 0, 0.65);
      }
      & img {
        display: block;
        opacity: .25;
      }
    }
  }
  & .single-blog-post {
    & .post-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      & ._rtw9s {
        position: absolute;
        bottom: 15px;
        width: 70%;
        left: 15px;
        & .post-title {
          color: #fff;
          font-size: 18px;
          @include lg {
            font-size: 30px;
          }
          display: block;
          line-height: 1.1;
          font-weight: 700;
          margin-bottom: 15px;
        }
      }
      & .tag {
        position: absolute;
        top: 15px;
        left: 20px;
        background-color: $purple;
        width: 180px;
        height: 45px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        color: #fff;
        transform: skewX(-30deg);
        & span {
          position: absolute;
          width: 100%;
          left: 0;
          font-size: 14px;
          font-weight: 700;
          line-height: 45px;
          text-transform: uppercase;
          transform: skew(30deg);
        }
      }
      & .post-date {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}