@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

a.tweak {
  color: var(--color-tweak);
}

ol, ul {
  list-style-type: none;
}

.color-text {
  color: var(--color-text-2);
}

.color-tweak {
  color: var(--color-tweak);
}

.primary_link {
  cursor: pointer;
  color: var(--color-primary-text);
  fill: var(--color-primary-text);
}

.small_text {
  font-size: 0.75rem;
  line-height: 18px;
}

._default {
  background: var(--color-background-medium);
}

.bg-dark-tweak {
  background: var(--vt-c-dark-tweak);
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}
